---
export const prerender = false;

import Header from "../../components/Header.astro";

const { id } = Astro.params;

const res = await fetch(`http://localhost:4000/api/books/${id}`);
const book = await res.json();
---

<Header />

<main class="book-detail">
  <div>
    <img src={book.cover} alt={book.title} />
  </div>

  <div class="book-info">
    <h1>{book.title}</h1>
    <h2>{book.author}</h2>
    <p>{book.description}</p>
    <button id="favBtn" class="btn addBtn"> Agregar a favoritos </button>
  </div>
</main>

<script>
  const bookId = window.location.pathname.split("/").pop();

  document.addEventListener("DOMContentLoaded", () => {
    const favBtn = document.getElementById("favBtn");

    if (!favBtn) return;

    favBtn.addEventListener("click", async () => {
      const user = JSON.parse(localStorage.getItem("user") || "null");

      if (!user || !user.token) {
        if (confirm("Debes iniciar sesión. ¿Ir al login?")) {
          window.location.href = "/login";
        }
        return;
      }

      try {
        const res = await fetch(
          `http://localhost:4000/api/favorites/${bookId}`,
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${user.token}`,
            },
          }
        );

        const data = await res.json();
        console.log("🔥 Respuesta FAVORITOS:", data);

        alert(data.msg || "Agregado a favoritos");
      } catch (err) {
        console.error("Error:", err);
        alert("Error al agregar a favoritos");
      }
    });
  });
</script>
